---
import "../styles/project-card.css";
import ProjectTags from "./ProjectTags.astro";
---

<div class="project-card">
    <a
        href="https://github.com/tessaSlice/NextGeneration-Coding-Competition"
        target="_blank"
        class="github-link"
    >
        <!-- TODO: make the GitHub icon a local icon -->
        <img
            src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"
            alt="GitHub"
            class="github-icon"
        />
    </a>
    <div class="content">
        <div class="item">
            <div class="icon-container">
                <div class="icon">🚀</div>
                <!-- TODO: Replace with your emoji or image -->
            </div>
            <div class="text">
                <h3>{Astro.props.name}</h3>
                <p>{Astro.props.caption}</p>
            </div>
        </div>
        <p>{Astro.props.description}</p>
        <!-- TODO: add a horizontal line -->
        <div class="tags-container">
            <ProjectTags tags={Astro.props.languages} />
        </div>
        <div class="tags-container" style="margin-left:0px;">
            <ProjectTags tags={Astro.props.themes} />
        </div>
    </div>
</div>
