---
import "../styles/project-card.css";
import ProjectTags from "./ProjectTags.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";

const projects = await getCollection("projects");
---

{
    projects.map((project) => (
        <div class="project-card">
            <a
                href={project.data.github_link}
                target="_blank"
                class="github-link"
            >
                <Icon name="github" class="github-icon"/>
            </a>
            <div class="content">
                <div class="item">
                    <div class="icon-container">
                        <div class="icon">
                            <Icon name={project.data.icon} />
                        </div>
                    </div>
                    <div class="text">
                        <h3>{project.data.name}</h3>
                        <p>{project.data.caption}</p>
                    </div>
                </div>
                <p class="description">{project.data.description}</p>
                <div class="tags-wrapper">
                    <div class="tags-container">
                        <ProjectTags tags={project.data.languages} />
                    </div>
                    <div class="tags-container">
                        <ProjectTags tags={project.data.themes} />
                    </div>
                </div>
                <a href={`/projects/${project.slug}`} class="learn-more">
                    Learn more
                </a>
            </div>
        </div>
    ))
}
